@import url("reset.css");

/*TABLE*/

#table{
    font-family: "Poiret One", sans-serif;/*uses poiret one font for table*/
}
#table h2{
    font-size:2rem;
    margin-bottom:1rem;
}
#table .empty{
    background: transparent;
    padding: 0;
    display:none;
}
#navigation h2{
    font-size:2rem;
    margin-bottom:1rem;
}
/*#table td, table th{
    border-radius:0.4rem;
}*/
#table table{/*styling for main table element*/
    width: 50%;
    margin:0 auto;
    border-spacing: 0.5rem;
}
#table caption{/*styling for table title*/
    font-weight: bold;
    margin-bottom: 1rem;
}
/*#table thead th:first-child{
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}
#table thead th:last-child{
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}*/
#table thead th{/*styling for header row*/
    background: #51344d;
    color: white;
    padding: 0.6rem;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}
#table tbody th{/*styling for first column nmaes*/
    background: #755c75;
    color: white;
    padding: 0.6rem;
    text-align: left;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}
#table td{/*styling for standard table data cells*/
    text-align:center;
    padding:0.6rem;
}/*alternate row coloring */
#table tbody tr:nth-child(odd) td{
    background: #d0c3d0;
}/*alternate row coloring */
#table tbody tr:nth-child(even) td{
    background: #aa98aa;
}/*changing the background of the price row*/
#table tbody tr:last-child td, 
#table tbody tr:last-child th{
    background: #8c93a8;
    color: white;
}

.fa-check{/*green checkmark*/
    color:green;
}
.fa-xmark{/*red X*/
    color:firebrick;
}
/*NAVIGATION*/

#navigation nav{/*main navigation container*/
    display:flex;
    align-items: center;
    gap:2rem;
    background: rebeccapurple;
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}
#navigation nav i {/*broom ball*/
    color: white;
    font-size: 1.5rem;
}
#navigation ul{/*nav menu list*/
    display: flex;
    gap: 2rem;
    list-style:none;
    margin:0;
    padding:0;
}
#navigation a{/*removes underline from links*/
    text-decoration: none;
}
#navigation a:link{/*unvisited state for links*/
    color: #ccff66;
}
#navigation a:visited{/*visited state for links*/
    color: #ff6666;
}
#navigation a:hover{/*hover state for links*/
    color:white;
}

#navigation form{/*search form container*/
    margin-left: auto;
    display:flex;
    align-items: center;
    gap: 0.5rem;
}
#navigation input{/*search input box*/
    padding: 0.4rem;
    border: none;
    background: #2ec4b6;
}
#navigation button{/*search button*/
    padding:0.4rem 0.8rem;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
}
.search-box{/*container for search input and icon*/
    position: relative;
}
.search-box i{/*positions search icon inside input field*/
    position:absolute;
    left:0.4rem;
    top:50%;
    transform: translateY(-50%);
    color:white;
}
.search-box input{/*removes overlap*/
    padding-left: 1.5rem;
}

/*Login Form*/
#login h2{/*fixes title position*/
    position:absolute;
    top:33rem;
    left: 2rem;
    font-size: 2rem;
    color:#424141;
}
#login{/*background gradient*/
    min-height: 60vh;
    padding:2rem;
    background: linear-gradient(45deg, #00dbde, #fc00ff);
    border: 1rem solid #fff;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.login-title{
    text-align:center;
    font-size:2rem;
    font-weight:bold;
    margin-bottom: 1rem;
}
.login-container{/*login box container*/
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    width: 30rem;
    min-height: 40rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.login-container form{/*login form layout*/
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.login-container input{/*input fields*/
    padding: 0.5rem;
    border: 0.1rem solid #ddd;
    border-radius:0.3rem;
}
.login-container button{/*login button*/
    background: linear-gradient(to left, #00dbde, #fc00ff);
    color: white;
    border:none;
    padding:0.6rem;
    border-radius: 0.9rem;
    cursor:pointer;
}
.forgot{/*forgot password link*/
    font-size:0.8rem;
    color:#999;
    text-decoration: none;
}
.social-login{
    text-align: center;

}
.icons{
display:flex;
justify-content: center;
gap:1rem;
font-size: 1.5rem;
}
.signup{
    text-align:center;
    font-size: 0.8rem;
}
